# Environments
.env
.env.local
.env.*.local
*.env

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.db
*.sqlite3
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep
backend/storage/docu_intel.db

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
